venv
.idea
graphs/graph_files/8.txt
graphs/graph_files/9.txt
graphs/graph_files/10.txt
graphs/graph_files/orient6.txt
graphs/graph_files/orient7.txt
graphs/graph_files/dig6.txt
graphs/showg
graphs/showg.c
